.card {
  margin: 40px;
  margin-left: 100px;
  width: 600px;
  position: relative;
  padding-left: 30px;
}

.title {
  color: blueviolet;
  font-weight: bold;
  font-size: large;
}

.item img {
  object-fit: cover;
  float: right;
  margin-right: 50px;
  width: 250px; /* 画像の幅を指定 */
  height: 200px; /* 画像の高さを指定 */
  object-fit: contain; /* 画像のアスペクト比を維持しつつ領域を埋める */
}

.rank {
  margin-left: 20px;
  margin-top: 150px;
  margin-right: 50px;
  font-size: 30px;
  padding-top: 40px;
  padding: 5px 10px;
  font-weight: bold;
  float: left;

}

.search-container {
  display: flex;
  justify-content: center;
  width: 700px;
  margin-top: 60px;

}

.search-bar {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    margin-right: 5px;
    height: 40px;
    width: 300px;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }

.search-button{
    border-radius: 10px;
    height: 40px;
    width: 70px;
}